$Red-Orange: #fc5226;
$Redder: #ff3a22;
$dark: rgb(33,33,33);
$SilverTongue: #628078;
$SoftPurple: #9068be;
$blue:#0000ff;
$lightdark: rgba(33,33,33,0.711);
$pink: rgb(255,239,239);
$GrassyGreen: #9bc400;
$Pinkhighlight: #f95d9b;
$Citrus: #F7C331;
$BloodyRed:#660000;
$HighlightRed: #F72F35;